.hov {
    animation: shake 1s ease;
}

@keyframes shake {
    30%{
        transform: scaleX(1.07) scaleY(1.05);
    }
    60%{
        transform: scaleX(1.05) scaleY(1.07);
    }
    70%{
        transform: scaleX(1.04) scaleY(1.02);
    }
    100%{
        transform: scaleX(1) scaleY(1);
    }
}