$dDarkGreen: #192e36;
$green: #2a9d8f;
$dGreen: rgba(148, 219, 211, 0.3);
$darkGreen: #264653;
$yellow: #e9c46a;
$orange: #f4a261;
$darkOrange: #e76f51;

.backB {
    position: absolute;
    bottom: 0;
    background-color: $dGreen;
    border:solid 1px $dDarkGreen;
    // opacity: 0.3;
    border-radius: 50%;
    box-shadow: inset 5px 5px 5px $dDarkGreen, inset -5px -5px 5px $green;
}